@import '~bootstrap/scss/bootstrap';

// import Outfit font from Google
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

h4 {
  display: flex;
  text-align: center;
  color: white;
  font-weight:200;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-weight:400;
}

#background-image {
  position:absolute;
  left: 0px;
  top: 0px;
  display:flex;
  flex-wrap: wrap;
  z-index: -1;
}

/*-----------------------login------------------------------*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

.wrap-login {
  width: 390px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

#confirm-btn{
  margin-top:2%;
}

/*-----------------------login form-----------------------------*/
.login-form {
  width: 100%;
}

.login-form-title {
  padding-bottom: 20px;
  display:block;
  font-size: 24px;
  line-height:1.2;
  text-align: center;
}

.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-bottom: 3%;
}


.sign-up-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.login-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.login-btn{
  text-transform: uppercase; 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;       
}

/*-----------------------dropdown menu--------------------------*/
.dropdown-menu{
  width:100%;
  margin: 0 auto;
}


/*------------------------------------*/
#park-create{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-bottom: 3%;
}

.park-name{
  font-size: 40px;
  line-height:1.2;
}

.park-location{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top:1%;
}

.park-description{
  font-size: 14px;
  margin-top:1%;
}

.park-id{
  font-size: 14px;
  margin-bottom: 4%;
  margin-top:3%;
}
